<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.carlosjimz87.firebaseauthwrapper.test">

    <instrumentation
        android:name="com.carlosjimz87.firebaseauthwrapper.CustomTestRunner"
        android:targetPackage="com.carlosjimz87.firebaseauthwrapper" />

</manifest>